{% extends "base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static "deps/css/footer_css.css" %}">
    <link rel="stylesheet" href="{% static "deps/css/about_css.css" %}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
{% endblock %}


{% block content %}

    <div class="banner mt- pt-3">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 mb-4 mb-md-0 text-lg-center">

        <img class = "ban pt-3" src ="{% static "deps/images/banner_about.jpeg" %}" alt="Натуральная красота">
                </div>
                <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                    <h1 class="pt-5">С любовью к себе и природе</h1>
                    <h3 class = "pt-3"> Bloomify — это бренд, который воплощает в себе образ жизни , основанный на экологичной и осознанной заботы о красоте и здоровье. Вдохновленные силой природы, мы создаем высококачественные средства по уходу за кожей, волосами и телом, используя только натуральные и безопасные ингредиенты.

<br><br>Наша миссия — помочь людям раскрыть свою естественную красоту, не нанося вреда окружающей среде. Мы верим, что настоящая красота начинается изнутри, и наша продукция призвана поддерживать гармонию тела и души.

<br><br>Мы искренне верим, что забота о себе и планете должна идти рука об руку, а наша главная ценность — вдохновлять людей на осознанный выбор и гармоничное существование в балансе с природой.

<br><br>Присоединяйтесь к нам, и раскройте свою естественную красоту вместе с Bloomify, что поможет вам расцвести в полной красе!</h3>

                </div>
    </div>
    </div>
        </div>

<h1 class="mt- pt-4 text-center">Почему именно Bloomify</h1>
<div class="text-center">
        <!-- Grid container -->
    <div class="container-1 p-5">
      <!--Grid row-->
      <div class="row-1">
          <div class="col-lg-4-1 col-md-12-1 mb-4 mb-md-0">
              <img src="{% static "deps/images/mount.jpg" %} ">
    <h2> Качество и безопасность </h2>
              <p>Bloomify — это этичная косметика со 100% натуральными составами, которая не тестируется на животных.</p>

          </div>
          <br>
<br>
          <div class="col-lg-4-1 col-md-12-1 mb-4 mb-md-0">
              <img src="{% static "deps/images/him.jpg" %} ">
<h2> Непрерывное совершенствование</h2>
              <p>Наши покупатели — это источник нашего вдохновения. Мы постоянно разрабатываем новые формулы и добавляем эффективные ингредиенты.</p>
          </div>
          <br>
<br>
          <div class="col-lg-4-1 col-md-12-1 mb-4 mb-md-0">
              <img src="{% static "deps/images/per.jpg" %} ">
<h2> Легкость и гибкость</h2>
              <p>Наша косметика адаптируется под разные типы кожи. Она гипоаллергенная и подходит для чувствительной кожи.</p>
          </div>
          <br>
<br>
</div>
        <div class="row-1">
          <div class="col-lg-4-1 col-md-12-1 mb-4 mb-md-0">
              <img src="{% static "deps/images/talk.jpg" %} ">
<h2> Честность и прозрачность</h2>
              <p>Мы всегда на связи и открыты перед нашими клиентами и стремимся к честному и открытому диалогу.</p>
          </div>
            <br>
<br>
                      <div class="col-lg-4-1 col-md-12-1 mb-4 mb-md-0">
              <img src="{% static "deps/images/fl.jpg" %} ">
<h2> Чистые составы</h2>
                          <p>Чистые и работающие составы без парабенов, сульфатов, фталатов и искусственных ароматизаторов.</p>
          </div>
            <br>
<br>
                      <div class="col-lg-4-1 col-md-12-1 mb-4 mb-md-0">
              <img src="{% static "deps/images/time.jpg" %} ">
<h2> Скорость и удобство</h2>
                          <p>Наши средства разработаны так, чтобы экономить ваше время, делая макияж и процесс ухода за собой быстрым и приятным.</p>
          </div>

    </div>
</div>
    </div>


<br>
<br>


{% endblock %}

{% block footer %}
<footer>
    <!-- Grid container -->
    <div class="container pt-3">
        <!-- Grid row -->
        <div class="row">
            <!-- Grid column -->
            <div class="col-lg-5 col-md-12 mb-4 mb-md-0 text-start">
                <h5 class="text-uppercase text-white">Bloomify</h5>
                <h6 class="text-white">С любовью к себе и природе</h6><br>
                <h7 class="text-white"><i class="fas fa-envelope"></i> <a href="mailto:blmf.off@gmail.com">blmf.off@gmail.com</a></h7><br>
                <h7 class="text-white"><i class="fas fa-phone"></i> <a href="tel:+79672557994">+7(967)255-79-94</a></h7><br><br>
                <h7 class="text-white"><i class="fas fa-home"></i><a href="https://www.google.com/maps/search/?api=1&query=Россия,+г.Владимир,+ул.Мира+д.30" target="_blank">Россия, г.Владимир, ул.Мира д.30</a></h7><br><br>

            </div>
            <!-- Grid column -->
            <div class="col-lg-5 col-md-6 mb-4 mb-md-0 text-center">
                <h6 class="pt-2 text-white text-center" >Чтобы получать новости быстрее всех, <br> оформи подписку</h6><br>
                <!-- Email input -->
                <div class="email-subscribe d-flex align-items-center justify-content-center">
                    <div data-mdb-input-init class="form-outline mb-0">
                        <input type="email" id="form5Example22" name="email" class="form-control" required />
                        <label class="form-label"  for="form5Example22">Электронная почта</label>
                    </div>
                    <button data-mdb-ripple-init type="submit" class="btn btn-primary-dark mb-4">Подписаться</button>
                </div>
                <!-- Social icons -->
                <section class="mb-4">
                    <!-- Telegram -->
                    <a data-mdb-ripple-init class="btn-1 btn-outline btn-floating m-1" style="background-color: #888888" href="https://t.me/" role="button">
                        <i class="fab fa-telegram text-white"></i>
                    </a>
                    <!-- VKontakte -->
                    <a data-mdb-ripple-init class="btn-1 btn-outline btn-floating m-1" style="background-color: #888888" href="https://vk.com/" role="button">
                        <i class="fab fa-vk text-white"></i>
                    </a>
                    <!-- WhatsApp -->
                    <a data-mdb-ripple-init class="btn-1 btn-outline btn-floating m-1" style="background-color: #888888" href="https://web.whatsapp.com/" role="button">
                        <i class="fab fa-whatsapp text-white"></i>
                    </a>
                </section>
            </div>
        </div>
        <!-- Grid row -->
    </div>
    <!-- Grid container -->
</footer>
{% endblock %}